<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImGui.NET" version="0.3.3" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="LightInject.Source" version="5.1.1" targetFramework="net452" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net46" />
  <package id="NLog" version="5.0.0-beta03" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net452" />
  <package id="OpenTK" version="2.0.0" targetFramework="net452" />
  <package id="OpenTK.Next" version="1.2.2336.6514-pre" targetFramework="net452" />
  <package id="QuickFont.Desktop" version="4.4.6159.26433" targetFramework="net452" />
  <package id="SharpFont" version="4.0.1" targetFramework="net452" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net452" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net452" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net46" />
</packages>